doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
        link(rel='stylesheet', href='/css/dygraph.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')
        link(rel='stylesheet', href='/css/index.css')
        script(src="/js/jquery-1.12.4.js")
        script(src="/js/jquery.dataTables.min.js")
        //script(src="/js/dygraph.js")
        script(src="/js/jquery-ui.js")
        script(src="/js/index.js")
    body
        div(class="wrap")
            div(class="header") Система учета неучтенного (AS).

            div(class="content")
                img(src="/img/gde-zhe-ya-polozhil-otvertku-open.jpg")
                p
                    a(id="button-1" href="./pdf/concept.pdf" title="Концепция системы.") Концепция системы.
                p
                    a(id="button-2" href="/Amestris-master" title="Интерактивная карта.") Интерактивная карта.
                p
                    a(id="button-3" href="/kruglyashki/kruglyashki/index_circle.html" title="Фоновый эффект - Кругляшки.") Фоновый эффект - Кругляшки.
                p
                    a(id="button-3" href="/qrcode-generator-master/js/demo" title="QR CODE.") QR CODE генератор.
                p
                    a(id="button-3" href="/jsqrcode/examples/browser-upload/" title="QR CODE.") QR CODE Reader.

            div(class="clear")
            div(class="bottom") V 0.0.0.0 &copy; RudenkoOV








        //h1 Время = #{dates}
        //h1 Вес ковша= #{wight} кг.
        //h1 Температура масла гидравлики= #{temper} С&deg;
        //a(href="/graph") Архив
        //img(src='/images/hc81.png' )
        //div (id="grph")